:root {
  --color-black: #000;
  --color-white: #fff;
  /* Text Colors */
  --text-light: #f9f6ee;
  --text-titles: #a07613;
  --text-first-letter: #b7a06c;
  /* Brand Colors */
  --color-beige1: #a79c83;
  --color-beige2: #c2b697;
  --color-beige3: #ebe2d6ff;
  --color-bronze: #be7413;
  /* Background Colors */
  --color-blue: #02182b;
  --color-blue1: #053661;
  --color-blue2: #042b4e;
  --color-blue3: #072e53;
  --color-blue4: #2d6da5;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
body::-webkit-scrollbar {
  display: none;
}
main {
  font-family: var(--font-archivo);
}
body h1 {
  font-family: var(--font-marmelad);
  color: var(--text-titles);
}

* {
  box-sizing: border-box;
}
