/* ACASA====================== */

.home_page {
  background-color: var(--text-light);
}

.hero_img {
  object-fit: cover;
  object-position: center;
}
.hero_section {
  position: relative;
  height: 450px;
}

@media (min-width: 768px) {
  .hero_section {
    height: 50vh;
  }
  .text_1 {
    font-size: 2.3rem !important;
  }
  .text_2 {
    font-size: 1.8rem !important;
  }
  .text_3 {
    padding-top: 5rem !important;
  }
}
@media (min-width: 992px) {
  .hero_section {
    height: 100vh;
  }
}
.hero_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero_content {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  margin-left: 2rem;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideLeft 1s forwards;
}

.text_1,
.text_2 {
  color: var(--color-white);
  font-family: "Marmelad", sans-serif;
  letter-spacing: 0.1rem;
}

.text_2 {
  line-height: 2rem;
}

.text_2 span {
  font-size: 1.3rem;
  color: var(--color-beige2);
}

.text_3 {
  color: var(--color-beige3);
  font-size: 0.9rem;
  padding-top: 3rem;
  line-height: 1.8rem;
}

.text_3 span {
  font-size: 0.7rem;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* BUTTONS */

.horizontal_buttons {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
}


.horizontal_buttons .butt {
  background-color: var(--color-beige2);
  color: var(--color-blue2);
  height: 90px;
}

.horizontal_buttons .butt:hover {
  background-color: var(--color-blue2);
  color: var(--color-beige3);
}

.mobile_buttons .butt {
  background-color: var(--color-beige2);
  color: var(--color-blue2);
}

.mobile_buttons .butt:hover {
  background-color: var(--color-blue2);
  color: var(--color-beige3);
}

/* end buttons===== */


.first_letter {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--text-first-letter);
  font-family: Marmelad, sans-serif;
}

/* INTRO */
.main_titles {
  font-family: "Marmelad", sans-serif;
  color: var(--text-titles);
}

/* SERVICES */

.services_title {
  font-family: "Marmelad", sans-serif;
  color: var(--color-beige2);
}
.services_text {
  color: var(--text-light);
}
.services_section {
  background-image: url("/assets/column-services.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.services_overlay {
  background-color: rgba(1, 13, 37, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services_content {
  position: relative;
  z-index: 1;
}

.services_content p {
  text-indent: 1rem;
}

.services_section .services_btn {
  background-color: var(--color-beige2);
  color: var(--color-black);
}

.services_section .services_btn:hover {
  background-color: var(--color-blue4);
  color: var(--color-white);
}

/*RECOMMENDATION */

.home_list {
  list-style-type: none;
}

.home_list li {
  position: relative;
  margin-left: 25px;
  padding-bottom: 0.6rem;
}

.home_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: 19%;
  width: 10px;
  height: 10px;
  background-color: var(--color-blue);
  border-radius: 1px;
}

.square {
  background-color: var(--color-bronze);
  color: var(--text-light);
  height: 12rem;
  margin-top: -3rem;
  border: 5px solid var(--color-beige2);
}
.square:hover {
  background-color: var(--color-blue2);
}
