.info {
  background-color: var(--text-light);
}
.main_titles {
  font-family: "Marmelad", sans-serif;
  color: var(--text-titles);
}

.accordion_item .accordion_header button {
  background-color: var(--color-beige2);
  color: var(--color-blue3);
  font-size: 1.3rem;
}

.title {
  color: var(--color-beige2);
}
.body {
  background-color: var(--color-blue3);
  color: var(--text-light);
  font-size: 1rem;
}
