/* NAVBAR====================== */

.nav .logo_text {
  margin-left: -1.5rem;
}

.link {
  text-decoration: none;
  color: var(--color-white);
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .link {
    font-size: 0.9rem;
  }
}

.active {
  color: var(--color-beige2);
  padding-bottom: 5px;
}
.slide_in {
  background-color: var(--color-blue);
  padding-top: 0;
  padding-top: 0;
  animation: slide-in 0.8s ease-out;
}
@keyframes slide-in {
  from {
    transform: translateY(-70%);
  }

  to {
    transform: translateY(0);
  }
}
